@font-face { font-family: 'openSans'; 
  src:local("openSans"), url("./fonts/openSans-Regular.ttf"), format('truetype'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'openSans-Bold'; 
  src: local("openSans-Bold"),url("./fonts/openSans-Bold.ttf"), format('truetype'); font-weight: normal; font-style: normal; }

  @font-face { font-family: 'openSans-l'; 
    src:local("openSans-l"), url("./fonts/openSans-Light.ttf") ,format('truetype'); font-weight: normal; font-style: normal; }

@font-face { 
  font-family: 'openSans-EB'; 
  src:local("openSans-EB"), url("./fonts/OpenSans-ExtraBold.ttf"), format('truetype'); font-weight: normal; font-style: normal; }


@font-face { font-family: 'poppins'; 
  src:local("poppins"), url("./fonts/Poppins-Regular.ttf"), format('truetype'); font-weight: normal; font-style: normal; }
html{
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'openSans','poppins';
}

h1, h4{
  font-family: 'openSans-Bold','poppins';
}
.light{
  font-family: 'openSans-l','poppins';
}
a{
  all: unset;
}
.infoP, h3{
  font-family: 'poppins';
}
button{
  font-family: 'poppins';
}
nav{
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0D426D;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 5rem;
}
.logo img{
  width: 100%;
}
.secciones{
  font-family: 'openSans','poppins';
  display: flex;
  gap: 1rem;
  color: #f2f2f2;
  margin-right: 5rem;
}

.secciones a {
  cursor: pointer;
}


.tituloHero{
  font-family: 'openSans-EB','poppins';
  text-shadow: 5px 4px 2px #000;
  font-size: 3rem;
  text-align: center;
}

.containerInicio{
  height:fit-content;
}

.heroLandScape{
  height: 55vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #f2f2f2;
}
.heroLandScape p {
  font-family: 'poppins';
  align-self: center;
  font-size: 1.4rem;
}
.videoLandScape{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.moduloTuristico{
  width: 100%;
  height: 80vh;
  
}
.moduloTuristico h3{
  position: absolute;
  bottom: 30px;
  left: 40px;
  color: #fff;
  font-family: 'openSans','poppins';
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 1px 1px 2px #000;
}

.botonesLandScape{
  display: flex;
  gap: 2rem;
  font-family: 'poppins';
}

.botonLS{
  background-color: #0D2D43;
  color: #f2f2f2;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-radius: 30px;
  border: 1px solid #f2f3f4;
  font-size: .8rem;

}
.botonLink{
  font-family: 'poppins';
  background-color: #0D2D43;
  color: #f2f2f2;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 30px;

}
.franjaGris{
  width: 100%;
  height: 7rem;
  background-color: #808080;

}
.rubros{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #CCCCCC;
  justify-content:center;
  align-items: center;
  padding: 1rem;
  padding-top:3.4rem;
  gap: 2rem;
  height: fit-content;
  padding-bottom: 5rem;
}

.rubroSvgs,.rubroTitulos,.rubroTexto{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5rem;
  gap: 1rem;
}

.rubroContent{
  height: 16rem;
}

.imgContainer,.rubroTitulos h3{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 116px;
}


.rubroP{
  font-family: 'poppins';
  width: 15rem;
  text-align: center;
}

.AboutUs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #0D426D;
  color: #f2f2f2;
  font-family: 'poppins';
  font-size: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: fit-content;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.lineaBlanca{
  width: 18rem;
  height: 1px;
  background-color: #f2f2f2;
}
.quienesSomos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 1rem;
  width: 70vw;
}
.mYv{
  margin-top: 1rem;
  display: flex;

}
.mYv p{
  text-align: center;
  font-family: 'poppins';
}
.mision, .vision{
  gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 1rem;
}
.AboutUs h2{
  font-size: larger;
  font-family: 'openSans-EB','poppins';

}
.quienesSomosP{
  text-align:center;
  font-size: 1.2rem;
  font-family: 'poppins';
}


footer{
  width: 99%;
  display: flex;
  background-color: #0D426D;
  justify-content: space-around;
  align-items: center;
  color: #f2f2f2;
  padding: 1%;
  padding-left: 4rem;
}
.logosRedesFooter{
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.redesFooter,.contactoFooter{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}
.contactoFooter{
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  gap: .2rem;
}
.formFooter{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: -8rem;
  gap: 4px;
}
.formFooter label{

  display: flex;
  flex-direction: column;
  gap: 2px;
}
.formFooterButton{
  background-color:#CCCCCC ;
  
  border-radius: 20px;
  height: 2rem;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 15px;
}

#emailFooter{
  all: unset;
  background-color: #f2f2f2;
  color: #000;
  height:2rem;
  border-radius: 20px;
  width: 20rem;
  padding-left: 10px;
  
}
.logosRedesFooter img{
  width: 2rem;
}

.BloqueInicioPortfolio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.BloqueInicioPortfolio h2{
  width: 33vw;
  text-align: center;
  font-family: 'openSans','poppins';
}
.BloqueInicioPortfolio h1{
  width: 33vw;
  text-align: center;
  font-family: 'openSans-Bold','poppins';
}
.lineaAzul{
  background-color: #0D426D;
  height: 2px;
  width: 15rem;
}

span{
  font-family: 'openSans-Bold','poppins';
  font-weight: bolder;
}

.azul {
  width: 20rem;
  
}

.historia{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.historia h1{
  font-family: 'openSans-Bold','poppins';
}
.historia h2{
  margin-top: 3rem;
  text-align: center;
  font-family: 'poppins';
  font-weight: 300;
  font-size: 1.2rem;
}
.historia h2 span{
  font-weight: 900;
}
.lineaAzulHistoria{
  background-color: #0D426D;
  border: 1px solid #0D426D;
  height: 5px;
  width: 15rem;
  margin-top: 1rem;
}
.lineaHistoria{
  width: 100vw;
  height: 6px;
  background-color: #0D426D;
}
.franjaSuperior{
  width: 100vw;
  display: flex;
  margin-top: 1rem;

  justify-content: space-around;
}
.franjaInferior{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding-left: 1rem;
}
.nodoSup,.nodoInf{
  position: relative;

}

.ImagenHistoria{
  position: absolute;
  width: 200px;
  height: 200px;
  bottom:100%;
}
.ImagenHistoriaInferior{
  position: absolute;
  width: 200px;
  height: 200px;
  top:100%;
}
.ImagenHistoria img{
  height: 200px;
  width: 200px;
}

.nodoSup,.nodoInf,.circuloNodo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nodoSup p, .nodoInf p{
  height: 3rem;
  text-align: center;
  padding: 5px;
  font-family: 'openSans','poppins';

}


.circuloNodo{
  margin: 0;
}

.circulo{
  width: 1.4rem;
  height: 1.4rem;
  background-color: #0D426D;
  border-radius: 50%;
  
}
.lineaCirculo{
  height: 1rem;
  width: 4px;
  background-color: #0D426D;
}

.scrollHistoria::-webkit-scrollbar {
  display: none;
}

.scrollHistoria{
  height: fit-content;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  padding-bottom: 1rem;
}

.modulosIndustriales{
  height: 44vh;
  width: 100vw;
  background-color: #CCCCCC;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.imagenModuloIndustrial{
  background-color: #f2f2f2;
  height: 30vh;
  width: 40vw;
  margin-left: 5vw;
}
.infoMI{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  font-family: 'openSans','poppins';
}
.infoMI h2{
  font-family: "openSans-EB",'poppins';
}
.infoMI p{
  font-size: 1.2rem;
}
#MIBL{
  width: 7rem;
}
.lineaAzulMI{
  width: 9rem;
  height: 2px;
  background-color: #0D426D;
}
.ventajasBeneficios{
  background-color: #CCCCCC;
  height: fit-content;
  width: 100%;
  font-family: "openSans",'poppins';
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.ventajasBeneficios h2{
  font-family: "openSans-Bold",'poppins';
  font-size: 2rem;
  margin-bottom: -2rem;
}
.franjaSvgVB,.franjaTextoOculto{
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  width: 100vw;
  height: 10vh;
}

.svgVB p {
  text-align: center;
}
.svgVB{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.franjaTextoOculto{
  height: 0;
}
.VBsvg{
  height: 5rem;
}


.casaModulIndustrial{
  height: 39vh;
  width: 100vw;
  background-color: #CCCCCC;
  display: flex;
  align-items:center;
  justify-content: start;
  gap: 5rem;
  padding-left: 10vw;
}
.imagenCasaModulo{
  background-color: #f2f2f2;
  height: 30vh;
  width: 40vw;
  margin-right: -30%;
}
.imagenCasaModulo .carousel__slide img{
  object-fit: fill;
}
.infoMI{
  height: fit-content;
  width: fit-content;
}
.infoMI p{
  font-size: 1.2rem;
}
.infoMI h2{
  font-weight: 800;
  font-size: 1.6rem;
  font-family: 'openSans-Bold','poppins';
}
.lineaAzulMC{
  margin-left: 5rem;
  width: 20rem;
  height: 3px;
  background-color: #0D426D;
  justify-self: center;
}
.containerServicios{
  display: flex;
  height: fit-content;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 5rem;
}
.heroServicios{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url("/images/techoGalpon.jpg");
  background-size: cover;
  background-position-y: 100%;
  color: #f2f2f2;
  gap:1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.logoServicios{
  width: 20vw;
}
.heroServicios p{
  font-size: 1.4rem;
  font-family: 'openSans','poppins';
  text-align: center;
}
.heroServicios h2{
  font-family: "openSans-EB",'poppins';
  font-size: 2rem;
}
.lineaAzulServicios{
  width:25vw;
  height: 4px;
  background-color: #0D426D;
}

.cuadradosServiciosC{
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: fit-content;
  gap: 7rem;
  color: #f2f2f2;
  font-family: 'poppins';
}
.cuadradoServicio p,.cuadradoServicio h3{
  font-family: 'openSans','poppins';
}
.cuadradoServicio{
  width: 40vw;
  height: fit-content;
  background-color: #0D426D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.superiorCuadradoServicio{
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
  gap: 6rem;
}
.tituloTextoServicio{
  display:flex;
  flex-direction: column;
  
}

.imgContainerServicios{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  filter: invert(84%) sepia(100%) saturate(0%) hue-rotate(177deg) brightness(105%) contrast(102%);
}
.imgServicio{
  width: 100%;
  position:relative;
  top: 1rem;
}
.containerPorfolio{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #CCCCCC;
}
.fondoTopPorfolio{
  height: 40vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.0)),url("/images/Encabezado.jpg");
  background-size: cover;
  background-position-y: 60%;
  color: #f2f3f4;
  font-family: 'openSans','poppins';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;

}
.fondoTopPorfolio p{
  text-align: center;
  font-size: 1.3rem;
}
.fondoTopPorfolio .botonLink{
  border: 1px solid white;
}
.containerCarouselesPortfolio {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 20px 20px; 
  padding: 5rem;
}
.carousel1 { grid-area: 1 / 1 / 3 / 2; 
}
.carousel2 { grid-area: 1 / 2 / 2 / 3; }
.carousel3 { grid-area: 1 / 3 / 2 / 4; }
.carousel4 { grid-area: 2 / 2 / 3 / 4; }
.carousel5 { grid-area: 1 / 4 / 3 / 5; }

.carousel1 ,.carousel2,.carousel3,.carousel4,.carousel5,.moduloTuristico,.imagenModuloIndustrial,.imagenCasaModulo{
  overflow: hidden;
  position: relative;
}
.carousel__container {
  display: flex;
  height: 100%;
}
.carousel__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 100%;
  overflow-y: hidden;

}
.carousel__viewport{height: 100%;}
.carousel__slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}



.containerContacto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  z-index: 0;
}
.containerTopContacto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  width: 100%;
  background-position: center;
  gap: 1rem;
  
  height:80vh;
}
.containerTopContacto h1{
  font-size: 2.5rem;
  font-family: 'openSans-Bold','poppins';
  text-shadow: 5px 4px 2px #000;
}
.containerTopContacto p{
  font-size: 1.4rem;
  font-family: 'openSans','poppins';
}
.contactoForm{
  padding: 1rem;
  height: fit-content;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  width: 50vw;
  color: #000;
  border-radius: 1rem;
  gap: 2rem;

}
.labelInputForm{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.labelInputForm label{
  margin-left: 1rem;
}
input,
input::before,
input::after {
  box-sizing: border-box;
}
.inputForm{
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 1px solid #0D2D43;
  border-radius: 10px;
}
textarea{
  background-color: #fff;
  border: 1px solid #0D2D43;
  border-radius: 15px;
  height: 7rem;
  padding: 1rem;
}
.inputForm:focus, textarea:focus{
  outline: 2px solid #0D426D;
  border: 2px solid #0D426D;
  border-color: #0D426D;
}

form input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
}


.containerContactoUbi{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0D426D;
  color: #fff;
  width: 100vw;
  height: 50vh;
  gap: 1rem;
  z-index:0;

}
.donde{
  display: flex;  
  flex-direction: column;
  align-items: start;
  z-index: 2;
  gap: .8rem;
  
}
.mapa{
  width: 40vw;
  height: 39vh;
  border-radius: 1rem;
  overflow: hidden;
  z-index: 2;
  
}
.botonUbicacion{
  all: unset;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: .5rem;
  color: #0D426D;
  align-self: center;
  margin-top: 1rem;
  width: 8rem;
  text-align: center;
}
.logoFondoUbi{
  z-index: 1;
  position: absolute;
  opacity: 0.2;
  padding: 3rem;
}
.containerModulosTop{
  position: relative;
  height: 60vh;
  overflow: hidden;
  margin-bottom: 2rem;
}
.containerModulosTop .carousel__slide{
  height: 70vh;
}
.containerModulosTop .carousel__slide img{
  filter: brightness(75%);
  object-position:80% 80% !important;
}
.textoModuloTop{
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}
.containerModulosTop h1{
  
  color: #f2f2f2;
  text-shadow: 3px 3px 5px #000;
  font-family: 'openSans-EB','poppins';
  font-size: 3rem;
  margin-bottom: 10rem;
}
.containerModulosTop .logo{
  width: 20rem;
  height: 6rem;
  margin-left: 3rem;
  
}
.containerModulosTop p{
  
  color: #fff;
  font-family: 'openSans','poppins';
  font-size: 1.2rem;
  margin-top: -1rem;
}

.futuroModular{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.futuroModular .lineaAzul {
  width: 26vw;
}
.futuroModular h2{
  font-family: 'openSans-Bold','poppins';
  font-size: 2rem;
}
.futuroModular p{
  text-align: center;
  font-size: 1.2rem;
  font-family: 'openSans','poppins';
}
.F{
  margin-top: 2rem;
}
.sistemaConstructivo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sistemaConstructivo h2{
  font-size: 2rem;
  font-family: 'openSans-EB','poppins';
  margin-bottom: 4rem;
  margin-top: 2rem;
}
.tipologias{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tipologias h2{
  margin-top: 1rem;
  font-size: 2rem;
  font-family: 'openSans-Bold','poppins';
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.tipologias2modulos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.moduloTipologia{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin-bottom: 2rem;
}
.moduloTipologia h3{
text-align: center;
font-family: 'openSans-Bold','poppins';
font-size: 1.8rem;
margin-bottom: 2rem;
}
.textoOcultoTipologia{
  font-family: 'openSans','poppins';
  padding: .4rem;
  color: #fff;
  font-size: 1.2rem;
  width: 100%;
  height: 97%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: hwb(0 0% 100% / 0.54);
  text-align: center;
  transition: 1s;
}
.wraperTyS{
  position: relative;
}
.textoOcultoServicio{
  position: absolute;
  font-family: 'openSans','poppins';
  padding: .4rem;
  color: #fff;
  font-size: 1.2rem;
  top: 2%;
  width: 98%;
  height: 97.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: hwb(0 0% 100% / 0.54);
  text-align: center;
  transition: 1s;
  
}
.ocultoVentaja{
  width: 10rem;
  text-align: center;
  font-size: .7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.franjaTextoOculto{
  justify-content: space-evenly;
}

.casa{
  width: 1000px;
  height: 690px;
  position: relative;
}
.casaImagen{
  width: 1000px;
  height: 690px;
}
.puntoAzul{
  position: absolute;
  z-index: 3;
  width: 1rem;
}
.LineaModulo{
  position: absolute;
  z-index: 3;
  height: 8rem;
  left: 215px;
  top: -100px;
}
#puntoTecho1{
  left: 207px;
  top: 20px;
}
#puntoTecho2{
  left: 207px;
  top: 60px;
}
#puntoTecho3{
  left: 110px;
  top: 200px;
}
#puntoTecho4{
  left: 215px;
  top: 195px;
}
#puntoTecho5{
  left: 250px;
  top: 190px;
}
#puntoPiso1{
  left: 370px;
  bottom: 44px;
}
#puntoPiso2{
  left: 260px;
  bottom: 120px;
}
#puntoPiso3{
  left: 255px;
  bottom: 160px;
}
#puntoPiso4{
  left: 243px;
  bottom: 205px;
}
#puntoPiso5{
  left: 236px;
  bottom: 240px;
}
#puntoPared1{
  right: 272px;
  bottom: 170px;
}
#puntoPared2{
  right: 240px;
  bottom: 80px;
}
#puntoPared3{
  right: 169px;
  bottom: 44px;
}
#puntoPared4{
  right: 490px;
  bottom: 162px;
}
#puntoVentana1{
  left: 60px;
  top: 230px;
}
#puntoVentana2{
  right: 46px;
  bottom: 300px;
}
#puntoVentana3{
  right: 10px;
  bottom: 295px;
}

.textoPunto{
  position: absolute;
  font-size: 1.4rem;
  font-family: "openSans",'poppins';
  height: 2.1rem;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: hsla(0, 0%, 6%, 0.603);
  color: #f2f2f2;
  text-align: center;
}

#tPuntoTecho1{
  left: -85px;
  top: 10px;
  z-index: 4;
}
#tPuntoTecho2{
  left: -100px;
  top: 50px;
  z-index: 4;
}
#tPuntoTecho3{
  height: 4rem;
  text-align: right;
  left: -220px;
  top: 180px;
  z-index: 4;

}
#tPuntoTecho4{
  height: 4rem;
  text-align: right;
  left: 270px;
  top: 180px;
  z-index: 1;

}
#tPuntoTecho5{
  height: 4rem;
  text-align: right;
  left: 270px;
  top: 180px;
  z-index: 1;

}
#tPuntoPiso1{
  height: 2rem;
  left: 10px;
  bottom: 10px;
  z-index: 1;

}
#tPuntoPiso2{
  height: 4rem;
  text-align: right;
  left: -70px;
  bottom: 100px;
  z-index: 1;

}
#tPuntoPiso3{
  height: 2rem;
  left: -150px;
  bottom: 160px;
  z-index: 1;

}
#tPuntoPiso4{
  height: 2rem;
  left: -180px;
  bottom: 210px;
  z-index: 1;

}
#tPuntoPiso5{
  height: 2rem;
  left: -180px;
  bottom: 240px;
  z-index: 1;

}
#tPuntoPared1{
  height: 4rem;
  text-align: right;
  right: 60px;
  bottom: 140px;
  z-index: 1;

}
#tPuntoPared2{
  height: 4rem;
  text-align: right;
  right: 20px;
  bottom: 60px;
  z-index: 1;

}
#tPuntoPared3{
  height: 4rem;
  text-align: right;
  right: -90px;
  bottom: 20px;
  z-index: 1;

}
#tPuntoPared4{
  height: 4rem;
  text-align: right;
  right: 250px;
  bottom: 140px;
  z-index: 3;

}
#tPuntoVentana2{
  height: 6rem;
  right: -80px;
  bottom: 370px;
  z-index: 3;

}
#tPuntoVentana3{
  height: 4rem;
  right: -140px;
  bottom: 370px;
  z-index: 3;

}
#tPuntoVentana1{
  height: 4rem;
  left: -290px;
  text-align: right;
  top: 205px;
  z-index: 3;

}

.formFooterButton:active{scale: 0.8;}

#logoFooter{
  width: 20rem;
}

@media only screen and (max-width: 1400px) {
.containerTopContacto{

  height: 100vh;
}

.containerContactoUbi{
  height: fit-content;
  align-items: center;
  justify-content: center;
}


}

a {
  cursor: pointer;
}
.blanco{
  background-color: #FFFFFF;
}
#derechos{
  font-size: .7rem;
}

#sloganFooter{
  font-weight: 100;
}
#accede{
  font-size: 1.37rem;
}