@font-face { font-family: 'openSans'; 
  src: url('public/fonts/openSans-Regular.ttf'), format('truetype'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'openSans-Bold'; 
  src: url('public/fonts/openSans-Bold.ttf'), format('truetype'); font-weight: normal; font-style: normal; }

  @font-face { font-family: 'openSans-l'; 
    src: url('public/fonts/openSans-Light.ttf') ,format('truetype'); font-weight: normal; font-style: normal; }

@font-face { 
  font-family: 'openSans-EB'; 
  src: url('public/fonts/OpenSans-ExtraBold.ttf'), format('truetype'); font-weight: normal; font-style: normal; }


@font-face { font-family: 'poppins'; 
  src: url('public/fonts/Poppins-Regular.ttf'), format('truetype'); font-weight: normal; font-style: normal; }
html{
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'openSans';
}

h1, h4{
  font-family: 'openSans-Bold';
}
.light{
  font-family: 'openSans-l';
}
a{
  all: unset;
}
.infoP, h3{
  font-family: 'poppins';
}
button{
  font-family: 'poppins';
}
nav{
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0D426D;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 5rem;
}
.logo img{
  width: 100%;
}
.secciones{
  font-family: 'openSans';
  display: flex;
  gap: 1rem;
  color: #f2f2f2;
  margin-right: 5rem;
}



.tituloHero{
  font-family: 'openSans-EB';
  text-shadow: 5px 4px 2px #000;
  font-size: 3rem;
  text-align: center;
}

.containerInicio{
  height:fit-content;
}

.heroLandScape{
  height: 55vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #f2f2f2;
}
.heroLandScape p {
  font-family: 'poppins';
  margin-right: 8rem;
}
.videoLandScape{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.moduloTuristico{
  width: 100%;
  height: 80vh;
  background-image: url('/images/casaModular.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y:70%;
}

.botonesLandScape{
  display: flex;
  gap: 2rem;
  font-family: 'poppins';
}

.botonLS{
  background-color: #0D2D43;
  color: #f2f2f2;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  border-radius: 30px;
  border: 1px solid #f2f3f4;
}
.botonLink{
  font-family: 'poppins';
  background-color: #0D2D43;
  color: #f2f2f2;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 30px;

}
.franjaGris{
  width: 100%;
  height: 7rem;
  background-color: #808080;

}
.rubros{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #CCCCCC;
  justify-content:center;
  align-items: center;
  padding: 1rem;
  padding-top:3.4rem;
  gap: 2rem;
  height: fit-content;
  padding-bottom: 5rem;
}

.rubroSvgs,.rubroTitulos,.rubroTexto{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5rem;
  gap: 1rem;
}

.rubroContent{
  height: 16rem;
}

.imgContainer,.rubroTitulos h3{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 116px;
}


.rubroP{
  font-family: 'poppins';
  width: 15rem;
  text-align: center;
}

.AboutUs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #0D426D;
  color: #f2f2f2;
  font-family: 'poppins';
  font-size: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: fit-content;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.lineaBlanca{
  width: 18rem;
  height: 1px;
  background-color: #f2f2f2;
}
.quienesSomos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 1rem;
  width: 70vw;
}
.mYv{
  margin-top: 1rem;
  display: flex;

}
.mYv p{
  text-align: center;
  font-family: 'poppins';
}
.mision, .vision{
  gap: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 1rem;
}
.AboutUs h2{
  font-size: larger;
  font-family: 'openSans-EB';

}
.quienesSomosP{
  text-align:center;
}


footer{
  width: 99%;
  display: flex;
  background-color: #0D426D;
  justify-content: space-around;
  align-items: center;
  color: #f2f2f2;
  padding: 1%;
  padding-left: 4rem;
}
.logosRedesFooter{
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.redesFooter,.contactoFooter{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.formFooter{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: -8rem;
  gap: 4px;
}
.formFooter label{

  display: flex;
  flex-direction: column;
  gap: 2px;
}
.formFooterButton{
  background-color:#CCCCCC ;
  
  border-radius: 20px;
  height: 2rem;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 15px;
}

#emailFooter{
  all: unset;
  background-color: #f2f2f2;
  color: #000;
  height:2rem;
  border-radius: 20px;
  width: 20rem;
  padding-left: 10px;
  
}
.logosRedesFooter img{
  width: 2rem;
}

.BloqueInicioPortfolio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.BloqueInicioPortfolio h2{
  width: 33vw;
  text-align: center;
  font-family: 'openSans';
}
.BloqueInicioPortfolio h1{
  width: 33vw;
  text-align: center;
  font-family: 'openSans-Bold';
}
.lineaAzul{
  background-color: #0D426D;
  height: 2px;
  width: 15rem;
}

span{
  font-family: 'openSans-Bold';
  font-weight: bolder;
}

.azul {
  width: 20rem;
  
}

.historia{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.historia h1{
  font-family: 'openSans';
}
.historia h2{
  margin-top: 3rem;
  text-align: center;
  font-family: 'poppins';
  font-weight: 300;
}
.historia h2 span{
  font-weight: 900;
}
.lineaAzulHistoria{
  background-color: #0D426D;
  border: 1px solid #0D426D;
  height: 5px;
  width: 15rem;
  margin-top: 1rem;
}
.lineaHistoria{
  width: 100vw;
  height: 6px;
  background-color: #0D426D;
}
.franjaSuperior{
  width: 100vw;
  display: flex;
  margin-top: 1rem;

  justify-content: space-around;
}
.franjaInferior{
  width: 100vw;
  display: flex;
  justify-content: space-around;
}


.nodoSup,.nodoInf,.circuloNodo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nodoSup p, .nodoInf p{
  height: 3rem;
  text-align: center;
  padding: 5px;
}
.circuloNodo{
  margin: 0;
}

.circulo{
  width: 1.4rem;
  height: 1.4rem;
  background-color: #0D426D;
  border-radius: 50%;
  
}
.lineaCirculo{
  height: 1rem;
  width: 4px;
  background-color: #0D426D;
}

.scrollHistoria::-webkit-scrollbar {
  display: none;
}

.scrollHistoria{
  min-height: fit-content;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.modulosIndustriales{
  height: 44vh;
  width: 100vw;
  background-color: #CCCCCC;
  display: flex;
  align-items: center;
  gap: 5rem;
}
.imagenModuloIndustrial{
  background-color: #f2f2f2;
  height: 30vh;
  width: 40vw;
  margin-left: 5vw;
}
.infoMI{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  font-family: 'openSans';
}
.infoMI h2{
  font-family: "openSans-EB";
}
#MIBL{
  width: 7rem;
}
.lineaAzulMI{
  width: 9rem;
  height: 2px;
  background-color: #0D426D;
}
.ventajasBeneficios{
  background-color: #FFFFFF;
  height: fit-content;
  width: 100%;
  font-family: "openSans";
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
.ventajasBeneficios h2{
  font-family: "openSans-EB";
}
.franjaSvgVB{
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  width: 100vw;
  height: 10vh;
}
.VBsvg{
  height: 5rem;
}


.casaModulIndustrial{
  height: 50vh;
  width: 100vw;
  background-color: #FFFFFF;
  display: flex;
  align-items:center;
  justify-content: start;
  gap: 5rem;
  padding-left: 10vw;
}
.imagenCasaModulo{
  background-color: #f2f2f2;
  height: 30vh;
  width: 40vw;
  margin-right: -30%;
}
.infoMI{
  height: fit-content;
  width: fit-content;
}
.infoMI p{
  font-size: 1.4rem;
}
.infoMI h2{
  font-weight: 800;
  font-size: 1.8rem;
}
.lineaAzulMC{
  margin-left: 5rem;
  width: 20rem;
  height: 3px;
  background-color: #0D426D;
  justify-self: center;
}
.containerServicios{
  display: flex;
  height: fit-content;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 5rem;
}
.heroServicios{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url("/images/techoGalpon.jpg");
  background-size: cover;
  background-position-y: 100%;
  color: #f2f2f2;
  gap:1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.logoServicios{
  width: 20vw;
}
.heroServicios p{
  font-size: 1.5rem;
  font-family: 'openSans';
  text-align: center;
}
.heroServicios h2{
  font-family: "openSans-EB";
  font-size: 2rem;
}
.lineaAzulServicios{
  width:25vw;
  height: 4px;
  background-color: #0D426D;
}

.cuadradosServiciosC{
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: fit-content;
  gap: 7rem;
  color: #f2f2f2;
  font-family: 'poppins';
}
.cuadradoServicio p,.cuadradoServicio h3{
  font-family: 'poppinsHola';
}
.cuadradoServicio{
  width: 40vw;
  height: fit-content;
  background-color: #0D426D;
  
}
.superiorCuadradoServicio{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.tituloTextoServicio{
  display:flex;
  flex-direction: column;
  
}

.imgContainerServicios{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 116px;
  filter: invert(84%) sepia(100%) saturate(0%) hue-rotate(177deg) brightness(105%) contrast(102%);
}
.imgServicio{
  width: 100%;
  position:relative;
  top: 1rem;
}
.containerPorfolio{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #CCCCCC;
}
.fondoTopPorfolio{

  width: 100vw;
  background-color: #646769;
  color: #f2f3f4;
  font-family: 'openSans';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem;

}
.fondoTopPorfolio p{
  text-align: center;
  font-size: 1.3rem;
}
.fondoTopPorfolio .botonLink{
  border: 1px solid white;
}
.containerCarouselesPortfolio {
  display: grid; 
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 20px 20px; 
  padding: 5rem;
}
.carousel1 { grid-area: 1 / 1 / 3 / 2; 
}
.carousel2 { grid-area: 1 / 2 / 2 / 3; }
.carousel3 { grid-area: 1 / 3 / 2 / 4; }
.carousel4 { grid-area: 2 / 2 / 3 / 4; }
.carousel5 { grid-area: 1 / 4 / 3 / 5; }

.carousel1 ,.carousel2,.carousel3,.carousel4,.carousel5{
  overflow: hidden;
  position: relative;
}
.carousel__container {
  display: flex;
  height: 100%;
}
.carousel__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 100%;
  overflow-y: hidden;

}
.carousel__viewport{height: 100%;}
.carousel__slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.containerContacto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  z-index: 0;
}
.containerTopContacto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.1)),url('/images/perrito.jpg');
  color: #f2f2f2;
  width: 100%;
  background-position: center;
  gap: 1rem;
  
  height:80vh;
}
.containerTopContacto h1{
  font-size: 2.5rem;
  font-family: 'openSans-Bold';
}
.containerTopContacto p{
  font-size: 1.4rem;
  font-family: 'openSans';
}
.contactoForm{
  padding: 1rem;
  height: fit-content;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  width: 50vw;
  color: #000;
  border-radius: 1rem;
  gap: 2rem;

}
.labelInputForm{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.labelInputForm label{
  margin-left: 1rem;
}
input,
input::before,
input::after {
  box-sizing: border-box;
}
.inputForm{
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 1px solid #0D2D43;
  border-radius: 10px;
}
textarea{
  background-color: #fff;
  border: 1px solid #0D2D43;
  border-radius: 15px;
  height: 7rem;
  padding: 1rem;
}
.inputForm:focus, textarea:focus{
  outline: 2px solid #0D426D;
  border: 2px solid #0D426D;
  border-color: #0D426D;
}

form input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
}


.containerContactoUbi{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0D426D;
  color: #fff;
  width: 100vw;
  height: 50vh;
  gap: 1rem;
  z-index:0;

}
.donde{
  display: flex;  
  flex-direction: column;
  align-items: start;
  z-index: 2;
  
}
.mapa{
  width: 40vw;
  height: 39vh;
  border-radius: 1rem;
  overflow: hidden;
  z-index: 2;
  
}
.botonUbicacion{
  all: unset;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: .5rem;
  color: #0D426D;
  align-self: center;
  margin-top: 1rem;
  width: 8rem;
  text-align: center;
}
.logoFondoUbi{
  z-index: 1;
  position: absolute;
  opacity: 0.3;
  padding: 3rem;
}